
    <div class="col-sm-12 col-md-12 col-lg-12" style=" margin-top: 32px !important;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventTitle">{{selectedEvent.title}}</div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventSubTitle">
                    {{selectedEvent.subTitle}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-time glyphicon-align-theme-color"></span>
                    {{selectedEvent.date}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-map-marker glyphicon-align-theme-color"></span>
                    {{selectedEvent.place}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventInfo">
                    <span class="glyphicon glyphicon-calendar glyphicon-align-theme-color"></span>
                    {{selectedEvent.desc}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="EventEditBtn">
                    Edit
                </div>

            </div>
        </div>
    </div>


