<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

    <img class="img-circle box-shad img-responsive" ng-src="{{liveAlignImageUrl}}" />
    <div class="userInfo">
        <h3>{{liveAlignName}}</h3>
        <p>{{liveAlignDesignation}}</p>
    </div>
</div>
<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1" style="top:30px">
    <img class="img-responsive alignA" src="../../Images/alignA.PNG" />
</div>
<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

    <img class="img-circle box-shad img-responsive" ng-src="{{liveAlignedToImageUrl}}" />
    <div class="userInfo">
        <h3>{{liveAlignedToName}}</h3>
        <p>{{liveAlignedToDesignation}}</p>
    </div>
</div>
<div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 alignA"></div>