<div class="col-sm-9 col-md-9 col-lg-9">
    <div class="row" style="margin-bottom: 5%;">
        <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2" style="padding-right:0px">
            <div class="btn-edit btn-live" ng-click="showAll=true" ng-class="{'btn-login':showAll,'btn-login-inactive':!showAll}" style="width:100%">All</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-right:0px">
            <div class="btn-edit btn-live" ng-click="showAll=false" ng-class="{'btn-login':!showAll,'btn-login-inactive':showAll}" style="width:100%">Aligned</div>
        </div>
    </div>

    <div class="row fivecolumns" ng-show="showAll">
        <div ng-repeat="person in jsonData.live.all">            
            <div class="clearfix visible-lg visible-md visible-sm" ng-if="$index % 5 == 0"></div>
            <div class="clearfix visible-xs" ng-if="$index % 4 == 0"></div>
            <live-all live-all-image-url="{{person.imageUrl}}"
                      live-all-name="{{person.name}}"
                      live-all-designation="{{person.designation}}">
            </live-all>

        </div>
    </div>

    <div class="row sevencolumns" ng-show="!showAll">
        <div ng-repeat="person in jsonData.live.aligned">
            <div class="clearfix visible-lg visible-md visible-sm" ng-if="$index % 2 == 0"></div>
            <div class="clearfix visible-xs" ng-if="$index % 1 == 0"></div>
            <live-align live-align-image-url="{{person.imageUrl}}"
                        live-align-name="{{person.name}}"
                        live-align-designation="{{person.designation}}"
                        live-aligned-to-image-url="{{person.alignedToImageUrl}}"
                        live-aligned-to-name="{{person.alignedTo}}"
                        live-aligned-to-designation="{{person.alignedToDesignation}}">
            </live-align>
        </div>
        </div>

    </div>
