
<!--<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 32px !important;">-->
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive img-event-past" ng-src="{{eventImgUrl}}" />
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 row-event-past">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="EventSubTitle event-sub-past">
                        {{eventSubTitle}}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="EventInfo event-info-past">
                        <span class="glyphicon glyphicon-time glyphicon-align-theme-color"></span>
                        {{eventDateTime}}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="EventInfo event-info-past">
                        <span class="glyphicon glyphicon-map-marker glyphicon-align-theme-color"></span>
                        <span>{{eventPlace}}</span>
                        <span class="event-place-address">{{eventPlaceAddress}}</span>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="btn-login btn-live btn-event-download">
                        <span class="signUpWizText">Download Info</span></div>

                </div>
            </div>
        </div>
    </div>
